/* CARDS */

ul.deck {
  margin-left: 10%;
  margin-right: 10%;
}

.card-btn {
  font-family: "Quicksand";
  background-color: black;
  border: 1px solid black;
  color: white;
  width: 45%;
  padding: 0.5rem;
  margin-top: -17px;
  font-size: 15px;
  letter-spacing: 1.8px;
}

.btn-block {
  display: inline;
}

.card-body {
  padding-top: 24px;
}

.deck {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  align-items: stretch;
}

a.project-link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  width: 275px;
  align-content: stretch;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 0px;
  background-color: white;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  /* adjust the width of the card here */
  width: 250px;
  justify-content: flex-start;
  transform: rotate(0);
  margin-bottom: 24px;
}

.card-content {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 250px;
}



.card-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 100%;
}

.card-image:hover {
  filter: opacity(85%);
  z-index: -100;
  cursor: pointer;
}

.card-title {
  font-family: "Quicksand";
  color: black;
  font-size: 1.05rem;
  font-weight: normal;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 5px;
}

.card-text {
  font-family: "Roboto";
  font-size: 13px;
  font-weight: lighter;
  color: black;
  text-align: center;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.875rem;
  margin-bottom: 1.25rem;
}
